.ownCourse {
    .ele-course {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-delete {
            &:hover {
                background-color: red;
                border-color: red;
                color: white;
            }
        }
    }
}
