.course_card {
    padding-top: 20px;
    width: auto;

    a {
        font-weight: 800;
        text-decoration: none;
        color: #1c1c1c;
    }

    .highlight_img {
        border-radius: 5px;
        height: 100px;
        margin-left: 10%;
    }

    .highlight_information{
        .teacher-field {
            display: flex;
            .teacher-img {
                height: 20px;
                border-radius: 50%;
            }
            .teacher-field-ele {
                margin-left: 10px;
            }
        }

        .react-multi-carousel-item:not(:first-child):not(:last-child) {
            margin-right: 5px;
        }
    }
}
