.container__courses_slider {
    max-width: 1200px;
    margin-top: 30px;

    .courses_slider {
        height: auto;
        .courses_slider_item {
            height: auto;
            position: relative;
            border-radius: 5px;
        }

        .react-multi-carosel-item {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

h1 {
    padding-top: 70px;
    margin-left: 150px;
    
}
